body {
    background-color: #000000;
    color: #ffffff;
    width: 90%;
    margin: 0 auto;
}

h1, h3 {
    text-align: center;
}

table, .centered {
    margin: 0 auto;
}

.caption {
    font-size: small;
    text-align: center;
    margin-top: 0.25em;
    color: #808080;
}

textarea {
    background-color: #000000;
    color: #ffffff;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 0.25em;
}

button:hover {
    background-color: #303030;
}

button:active {
    background-color: #000000;
    border: solid 1px #808080;
}