body {
    background-color: #000000;
    color: #ffffff;
}

textarea {
    background-color: #000000;
    color: #ffffff;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 0.25em;
}